body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.point {
  background-color: #e6f7ff;
  padding: 2px 4px;
  border-radius: 4px;
}
.evidence {
  background-color: #fffbe6;
  padding: 2px 4px;
  border-radius: 4px;
}
.technique {
  background-color: #e6ffe6;
  padding: 2px 4px;
  border-radius: 4px;
}
.explanation {
  background-color: #fde0e0;
  padding: 2px 4px;
  border-radius: 4px;
}
.reader {
  background-color: #f0e6ff;
  padding: 2px 4px;
  border-radius: 4px;
}
